Repository perfectuser21/Claude_Enhancer, changes with the owners that .github/CODEOWNERS names for each.
All owners: @workflow-owners, @security-team, @devops-team, @technical-writers, @qa-team

feat(workflow): 添加规则0 - 分支前置检查 + 完善P2骨架定义
  .claude/hooks/branch_helper.sh
  .workflow/gates.yml
  CLAUDE.md
  docs/SKELETON-NOTES.md
Owners: @devops-team, @technical-writers

feat(workflow): 完善规则0 - 添加智能分支判断逻辑
  CLAUDE.md
  docs/SKELETON-NOTES.md
Owners: @technical-writers

feat(P3): 完成规则0实现，更新CHANGELOG v5.3.5
  docs/CHANGELOG.md
Owners: @technical-writers

test(P4): 完成规则0测试验证
  docs/TEST-REPORT-RULE0.md
Owners: @technical-writers

review(P5): Code Review完成 - APPROVE (9.2/10)
  docs/REVIEW.md
Owners: @technical-writers

fix(workflow): 修正P6 gates配置 - 允许修改根目录README
  .workflow/gates.yml
Owners: @devops-team

release(P6): 规则0智能分支管理系统 - v5.3.5发布
  .phase/current
  README.md
  docs/PR-RULE0.md
Owners: @workflow-owners, @technical-writers

monitor(P7): 规则0监控系统配置完成
  .phase/current
  observability/RULE0_MONITOR_REPORT.md
Owners: @workflow-owners, @technical-writers

docs(P7): Phase中断处理机制用户指南
  docs/PHASE_INTERRUPTION_GUIDE.md
Owners: @technical-writers

.github/CODEOWNERS:

# CODEOWNERS for Claude Enhancer
# 代码所有者配置 - 自动分配审查者

# 默认审查者（所有文件）
# * @team-reviewers

# 工作流相关文件（需要额外审查）
.workflow/** @workflow-owners @security-team
.phase/** @workflow-owners

# Git Hooks（安全关键）
.git/hooks/** @security-team

# GitHub Actions（DevOps + 安全）
.github/workflows/** @devops-team @security-team
.github/CODEOWNERS @devops-team

# 文档
docs/** @technical-writers
*.md @technical-writers

# 测试
test/** @qa-team

# 配置文件
*.yml @devops-team
*.yaml @devops-team
*.json @devops-team
